[user]
name = {{ .full_name }}
email = {{ .email }}
signingkey = {{ .pubkey }}

[commit]
gpgsign = true

[core]
pager = delta
autocrlf = input

[interactive]
diffFilter = delta --color-only

[add.interactive]
useBuiltin = false # required for git 2.37.0

[delta]
navigate = true  # use n and N to move between diff sections
light    = false # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
conflictstyle = diff3

[diff]
colorMoved = zebra

[pull]
rebase = true

[fetch]
prune = true

[gpg]
format = ssh
